.container {
  width: 1200px;
  margin: 0 auto;
}


/*
*    TOP NAV BAR STYLES
*/

nav#top-nav-bar {
  background: #1C2833;
}

nav#top-nav-bar ul {
  padding: 0;
}

nav#top-nav-bar li {
  list-style: none;
  line-height: 1.5em;
  padding: 20px 10px;
  cursor: pointer;
}

nav#top-nav-bar li a {
  text-decoration: none;
  text-align: center;
  color: #EBEDEF;
  font-size: 18px;
}

nav#top-nav-bar li:hover {
  background: #424949;
}


@media screen and (min-width: 960px) {
  nav#top-nav-bar ul {
    display: flex;
  }
  nav#top-nav-bar ul li {
    flex: 1;
    text-align: center;
  }
}
